<%- include ("parts/header") %>
  <main>
    <h1 style="text-align: center; color: white; padding-top: 20px;">Blacklisted Skins</h1>

    <% if (BlacklistSkins.length===0) { %>
      <h1 style="text-align: center; color: white; padding-top: 200px;">No blacklisted skins yet</h1>
      <% } else{ %>
        <div class="skin-container">
          <% for (let i=0; i < BlacklistSkins.length; i++) { let skin=BlacklistSkins[i]; %>
            <div class="skin-card">
              <img src="<%= skin.imageProfile %>" alt="<%= skin.description %>" data-src="<%= skin.image %>"
                data-name="<%= skin.skinTitle %>" data-reason=" <%= skin.reason %>"
                style="background-image: linear-gradient( 90.5deg,  rgba(247, 1, 1, 0.5) 1.1%, rgb(245, 0, 0) 81.3% );">
              <h3>
                <%= skin.skinTitle %>
              </h3>
            </div>

            <% } %>

        </div>

        <% } %>
  </main>
  </body>

  <head>
    <link rel="stylesheet" href="/css/BlackList.css">
  </head>
  <script>

    const container = document.querySelector('.skin-container');

    function enableEditing() {
      const textarea = document.getElementById('comment');
      textarea.removeAttribute('readonly');
    }

    function showConfirmationPopup() {
      document.getElementById("confirmation-popup").style.display = "block";
    }

    function hideConfirmationPopup() {
      document.getElementById("confirmation-popup").style.display = "none";
    }

    function deleteItem() {
      console.log("Item deleted.");
      hideConfirmationPopup();
    }


    container.addEventListener('click', event => {
      const skinCard = event.target.closest('.skin-card');
      if (skinCard) {
        const popup = document.createElement('div');
        popup.classList.add('popup');
        popup.innerHTML = `
          <div class="popup-content">
          
          <span class="delete-icon" onclick="showConfirmationPopup()"><i class="fa fa-trash-o" style="color:red"></i></span>
          
          <div class="popupDelete" id="confirmation-popup">
              <h2>Are you sure you want to delete?</h2>
              <form action="/Delete/${skinCard.querySelector('img').dataset.name}" method="get">
              <button name= "Delete "onclick="deleteItem()">Yes</button>
              </form>
              <button onclick="hideConfirmationPopup()">No</button>
          </div>
            <span style="color: white" class="btn-close"><i class="fa fa-close"></i></span>
            
            <img src="${skinCard.querySelector('img').dataset.src}"}">
            <h1 style="color: white">${skinCard.querySelector('img').dataset.name}</h1>
            <h3 style="color: white">${skinCard.querySelector('img').alt}</h3><br>
            <div>
            <div class="comment-box">
            <h3 style="color: white" >Reason:</h3>
            <form id="updateForm" action="/Update/${skinCard.querySelector('img').dataset.name}" method="POST">
            <textarea id="comment" name="reason" style="font-weight:bold" readonly>${skinCard.querySelector('img').dataset.reason}</textarea><br>
            <button type="button" onclick="enableEditing()" class="buttonC">Edit</button>
            <button type="submit" onclick="saveComment()" class="buttonC">Save</button>
            </form>
            </div>         
          
          </div>
        `;
        document.body.appendChild(popup);

        const closeBtn = popup.querySelector('.btn-close');
        closeBtn.addEventListener('click', () => {
          popup.remove();
        });
      }
    });
  </script>

  </html>