<%- include ("parts/header") %>

  <main>
    <h1 style="text-align: center; color: white; padding-top: 20px;">Favourite Skins</h1>
    <% if (FavSkins.length===0) { %>
      <h1 style="text-align: center; color: white; padding-top: 200px;">No Favourite skins yet</h1>
      <% } else{ %>
        <div class="skin-container">
          <% for (let i=0; i < FavSkins.length; i++) { let skin=FavSkins[i]; %>
            <div class="skin-card">
              <a href="SkinDetails/<%= skin.skinTitle %>"><img src="<%= skin.imageProfile %>" alt="<%= skin.description %>" data-src="<%= skin.image %>"
                data-name="<%= skin.skinTitle %> " data-pickaxe="" data-emote="" data-notes=" <%= skin.notes %> "
                data-wins=" <%= skin.wins %>" data-losses=" <%= skin.losses %>"
                style="background-image: linear-gradient( 90.5deg,  rgba(255,207,139,0.50) 1.1%, rgba(255,207,139,1) 81.3% );"></a>
              <h3>
                <%= skin.skinTitle %>
              </h3>
            </div>
            <% } %>
        </div>
        <% } %>
  </main>
  </body>
  <head>
    <link rel="stylesheet" href="/css/FavPage.css">
  </head>


    

  </html>